

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Ariyo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="{% url 'posts' %}">Blog</a>
        <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
        
        {% if request.user.is_authenticated %}
          <a class="nav-item nav-link {% if request.path == history %} active {% endif %}" href="{% url 'history' %}">History</a>
        {% endif %}
          
      </div>
    </div>
  </nav>